<a href="https://colab.research.google.com/github/GitMagda/Budzet-New/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

seria

In [4]:
pd.Series(np.random.random(10))

0    0.375702
1    0.771324
2    0.000325
3    0.245236
4    0.550474
5    0.893863
6    0.576170
7    0.119680
8    0.700778
9    0.814123
dtype: float64

In [5]:
pd.Series([1,2,3,45,np.nan, "tekst"]) # typ object bo mamy r√≥zne typy danych

0        1
1        2
2        3
3       45
4      NaN
5    tekst
dtype: object

DataFrame

In [7]:
pd.DataFrame(np.random.randn(6,4))

          0         1         2         3
0 -0.423518  1.516281 -1.599652  0.074057
1 -1.070043 -0.434254 -0.079459 -0.133471
2  0.810401  0.125922 -0.898181 -0.025644
3  1.504325  1.491688 -2.419016 -2.558104
4 -0.364168  0.048156  0.863136  0.946239
5  0.362066  0.534660 -2.290960 -0.812192

tworzymy sliste z datami

In [9]:
dates=pd.date_range('20220101', periods=6) # wbudowana fcja tworzenia zakresu z datami

In [10]:
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

mozemy zdefiniowac indeksy i liste kolumn

In [11]:
pd.DataFrame(np.random.randn(6,4), index=dates, columns= list('ABCD'))

                   A         B         C         D
2022-01-01  0.356828 -0.127103 -0.511181 -0.773240
2022-01-02  1.301459 -0.038782 -0.546551 -1.949450
2022-01-03 -0.286241 -0.710876  0.246130  1.465173
2022-01-04 -0.417203  1.502169  0.637927  1.167002
2022-01-05  0.348235 -0.207341  0.521175  0.073847
2022-01-06 -0.593458  0.211996 -0.028486  0.171742

tworzenie dataframe z listy

In [14]:
data= [10,20,30,40,50,60]
df= pd.DataFrame(data, columns=['Numbers'])
df

   Numbers
0       10
1       20
2       30
3       40
4       50
5       60

In [ ]:
#DataFrame z listy zagniezdzana

In [15]:
list= [['Ania',12],['Kasia',15],['Asia',20]]
df=pd.DataFrame(list, columns=['Name',"Age"])

In [16]:
df

    Name  Age
0   Ania   12
1  Kasia   15
2   Asia   20

dataFrame ze s≈Çownika

In [22]:
data={'Name':["Pawe≈Ç", "Tomek", "Adam", "Wojtek"],
"Age":[20,30,40,50]}
pd.DataFrame(data, index=['rank1', 'rank2', 'rank3','rank4'])

         Name  Age
rank1   Pawe≈Ç   20
rank2   Tomek   30
rank3    Adam   40
rank4  Wojtek   50

In [21]:
df

    Name  Age
0   Ania   12
1  Kasia   15
2   Asia   20

In [23]:
df.dtypes

Name    object
Age      int64
dtype: object

In [24]:
df.columns

Index(['Name', 'Age'], dtype='object')

jak zapisywac i wczytywac tabele

In [25]:
df.to_csv('plik.csv')

In [35]:
table1=pd.read_csv('plik1.csv')

FileNotFoundError: ignored

In [27]:
table1

NameError: ignored

In [ ]:
df.to_csv('plik2.csv', index=False)

In [ ]:
table2=pd.read_csv('plik2.csv')

In [29]:
table2

NameError: ignored

In [33]:
df.to_csv('plik3.txt', sep='\t', index=False)

In [34]:
table3=pd.read_csv)"plik3.txt"

SyntaxError: ignored

In [32]:
table3

NameError: ignored

In [36]:
git clone https://github.com/matzim95/ML-datasets.git

SyntaxError: ignored